/* Universal CSS */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e3e3e399;
}

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Universal CSS */

/* Navbar */

.navbar {
  background-color: #a7a5a8a6;
}
.left-half {
  display: flex;
  gap: 1vw;
  margin: 0px 1.5vw;
  padding: 0px;
}
.logo {
  height: 2rem;
  /* padding: 5px 5px; */
  align-items: center;
  margin-bottom: 0px;
  box-shadow: 1px 2px 7px 0px #6e5a5a;
  border: 1px solid black;
  border-radius: 10px;
}
.search {
  width: 20vw;
  background-color: #f4f4f4;
  color: #423d34;
  height: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 6px -2px brown;
}
.search-btn {
  width: 5vw;
  height: 2rem;
  background-color: #f4f4f4;
  color: #423d34;
  font-family: monospace;
  font-weight: 600;
  font-style: italic;
  padding: 0px 3px;
  margin: 0px 0px;
  border: 1px solid black;
  box-shadow: 3px 3px 6px -2px brown;
}
.search-btn:hover {
  background-color: grey;
  color: white;
}
.right-half {
  display: flex;
  gap: 2vw;
  margin: 0px 2vw;
  margin-left: 0px;
}
.right-half a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-size: 16px;
  font-style: oblique;
  font-weight: 500;
}
.form-check-label {
  font-weight: 500;
}
/* .new {
  font-size: larger;
} */
.edit-icon {
  font-size: 22px;
  font-weight: 100;
  color: black;
  margin: 0px 4px;
}
/* .login {
  font-size: larger;
} */

/* Navbar */

/* container css */

.container {
  background-color: white;
  width: 68%;
  margin-left: 7vw;
  margin-top: 20px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  box-shadow: -2px 4px 17px -4px black;
}
.links {
  padding: 6vh 3vw;
  padding-bottom: 2vh;
}
.links a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  margin: 0px 10px;
}
.hr {
  margin: 0px 2vw;
  color: #6e5a5a;
  margin-bottom: 2vh;
}

/* container css */

/* blog css */

.blog {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bloga {
  width: 70%;
}
.blogb {
  width: 20%;
}
.blog-head {
  display: flex;
}
.profile-pic {
  width: 25px;
  height: 25px;
  border-radius: 13px;
}
.blog-img {
  width: 8rem;
  height: 9rem;
  margin: 15px 10px;
}
.blog p {
  margin-top: 0;
  margin-left: 10px;
  font-family: cursive;
  margin-bottom: 1rem;
}
.blog h1{
  font-size: 1.5rem;
  font-family: auto;
  font-style: revert;
  font-weight: 600;
}
.blog-body{
  margin: 4px 30px;
    text-align: left;
}
.blog-body p{
  margin-left: 0px;
  margin-top: 10px;
}

/* blog css */
